.game {
	background-color: #F5F5F7;

	> .container-fluid,
	> .container-fluid > .row {
		min-height: 100vh;
	}

	&-content {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 120px 0 100px 80px;
		@include media("<xl") {
			padding: 60px 0 60px 50px;
		}
		@include media("<md") {
			padding: 0;
		}

		&_title {
			font-weight: 600;
			font-size: 32px;
			line-height: 1.2;
			color: $text-c;
			white-space: pre-line;
			margin-bottom: 24px;
			@include text-cut(5);

			@include media("<md") {
				text-align: center;
				font-size: 18px;
				padding-top: 140px;
			}
		}
	}

	// clip-path: polygon(7% 0%, 0% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
	&-i {
		position: relative;
		padding: 0 15px;
		cursor: pointer;
		margin-bottom: 32px;
		display: flex;
		justify-content: center;
		flex: 0 0 50%;
		@include media("<md") {
			margin-bottom: 8px;
			flex: 0 1 100%;
		}
		@include media(">=md") {
			max-width: 320px;
		}
		@include media(">=lg", "<xl") {
			flex: 0 1 100%;
		}
		@include media(">=1440px") {
			max-width: 410px;
		}

		&:hover {
			&:before {
				background-color: #FF8B37;
			}

			.game-i_content {
				@include background(contain, 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzczIiBoZWlnaHQ9IjcyIiB2aWV3Qm94PSIwIDAgMzczIDcyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTIyLjcxNzIgNS4yODM0NEMyNC44NzgxIDIuMjgwMTYgMjguMzUyMSAwLjUgMzIuMDUyIDAuNUgzNDAuOTQ4QzM0NC42NDggMC41IDM0OC4xMjIgMi4yODAxNiAzNTAuMjgzIDUuMjgzNDRMMzcyLjM4NCAzNkwzNTAuMjgzIDY2LjcxNjZDMzQ4LjEyMiA2OS43MTk4IDM0NC42NDggNzEuNSAzNDAuOTQ4IDcxLjVIMzIuMDUyQzI4LjM1MjEgNzEuNSAyNC44NzgxIDY5LjcxOTggMjIuNzE3MiA2Ni43MTY2TDAuNjE1OTc2IDM2TDIyLjcxNzIgNS4yODM0NFoiCiAgICAgICAgICBmaWxsPSJ3aGl0ZSIgc3Ryb2tlPSIjRkY4QjM3Ii8+Cjwvc3ZnPgo=');
			}
		}

		&:before {
			content: '';
			position: absolute;
			display: block;
			background-color: #D0D0D8;
			top: 50%;
			margin-top: -1px;
			height: 2px;
			left: 0;
			right: 0;
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.7;
		}

		&_wrap {
			display: flex;
			flex-wrap: wrap;
			@include media("<md") {
				justify-content: center;
				padding-bottom: 24px;
				margin: 0 -15px;
			}
		}

		&_content {
			position: relative;
			height: 56px;
			display: flex;
			align-items: center;
			padding: 0 32px;
			@include background(contain, $defaultBg);
			flex: 0 0 290px;
			@include media(">=lg") {
				flex: 0 0 320px;
				padding: 0 47px;
			}
			@include media(">=1440px") {
				flex: 0 0 390px;
				height: 72px;
			}

			&:last-child {
				@include media("<sm") {
					margin-bottom: 0;
				}
			}

			&-a {
				font-weight: 600;
				font-size: 20px;
				line-height: 1.2;
				color: #FF8B37;
				margin-right: 8px;
				@include media("<lg") {
					font-size: 14px;
				}
			}

			&-text {
				font-size: 20px;
				line-height: 1.2;
				color: $text-c;
				@include text-cut(1);

				@include media("<lg") {
					font-size: 14px;
				}
			}
		}
	}
}
