.icons {
	&-selected {
		.game-i_content,
		.sidebar-i_content {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzczIiBoZWlnaHQ9IjcyIiB2aWV3Qm94PSIwIDAgMzczIDcyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTIyLjcxNzIgNS4yODM0NEMyNC44NzgxIDIuMjgwMTYgMjguMzUyMSAwLjUgMzIuMDUyIDAuNUgzNDAuOTQ4QzM0NC42NDggMC41IDM0OC4xMjIgMi4yODAxNiAzNTAuMjgzIDUuMjgzNDRMMzcyLjM4NCAzNkwzNTAuMjgzIDY2LjcxNjZDMzQ4LjEyMiA2OS43MTk4IDM0NC42NDggNzEuNSAzNDAuOTQ4IDcxLjVIMzIuMDUyQzI4LjM1MjEgNzEuNSAyNC44NzgxIDY5LjcxOTggMjIuNzE3MiA2Ni43MTY2TDAuNjE1OTc2IDM2TDIyLjcxNzIgNS4yODM0NFoiCiAgICAgICAgICBmaWxsPSIjRkZGM0VCIiBzdHJva2U9IiNGRjhCMzciLz4KPC9zdmc+Cg==') !important;
		}

		&:before,
		&:after {
			background-color: #FF8B37 !important;
		}
	}

	&-wrong {
		.game-i_content,
		.sidebar-i_content {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzczIiBoZWlnaHQ9IjcyIiB2aWV3Qm94PSIwIDAgMzczIDcyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTIyLjcxNzIgNS4yODM0NEMyNC44NzgxIDIuMjgwMTYgMjguMzUyMSAwLjUgMzIuMDUyIDAuNUgzNDAuOTQ4QzM0NC42NDggMC41IDM0OC4xMjIgMi4yODAxNiAzNTAuMjgzIDUuMjgzNDRMMzcyLjM4NCAzNkwzNTAuMjgzIDY2LjcxNjZDMzQ4LjEyMiA2OS43MTk4IDM0NC42NDggNzEuNSAzNDAuOTQ4IDcxLjVIMzIuMDUyQzI4LjM1MjEgNzEuNSAyNC44NzgxIDY5LjcxOTggMjIuNzE3MiA2Ni43MTY2TDAuNjE1OTc2IDM2TDIyLjcxNzIgNS4yODM0NFoiCiAgICAgICAgICBmaWxsPSIjRkRFRUVEIiBzdHJva2U9IiNFQzYyNTkiLz4KPC9zdmc+Cg==') !important;
		}

		&:before,
		&:after {
			background-color: #EC6259 !important;
		}
	}

	&-done {
		.game-i_content,
		.sidebar-i_content {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzczIiBoZWlnaHQ9IjcyIiB2aWV3Qm94PSIwIDAgMzczIDcyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTIyLjcxNzIgNS4yODM0NEMyNC44NzgxIDIuMjgwMTYgMjguMzUyMSAwLjUgMzIuMDUyIDAuNUgzNDAuOTQ4QzM0NC42NDggMC41IDM0OC4xMjIgMi4yODAxNiAzNTAuMjgzIDUuMjgzNDRMMzcyLjM4NCAzNkwzNTAuMjgzIDY2LjcxNjZDMzQ4LjEyMiA2OS43MTk4IDM0NC42NDggNzEuNSAzNDAuOTQ4IDcxLjVIMzIuMDUyQzI4LjM1MjEgNzEuNSAyNC44NzgxIDY5LjcxOTggMjIuNzE3MiA2Ni43MTY2TDAuNjE1OTc2IDM2TDIyLjcxNzIgNS4yODM0NFoiCiAgICAgICAgICBmaWxsPSIjRTZGQUVBIiBzdHJva2U9IiM0N0Q4NjciLz4KPC9zdmc+Cg==') !important;
		}

		&:before,
		&:after {
			background-color: #47D867 !important;
		}
	}

	&-menu {
		&-open {
			@include background(cover, 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik00IDZDNCA1LjQ0NzcyIDQuNDQ3NzIgNSA1IDVIMTlDMTkuNTUyMyA1IDIwIDUuNDQ3NzIgMjAgNkMyMCA2LjU1MjI4IDE5LjU1MjMgNyAxOSA3SDVDNC40NDc3MiA3IDQgNi41NTIyOCA0IDZaIgogICAgICAgICAgZmlsbD0iIzFDMUMyMSIvPgogICAgPHBhdGggZD0iTTQgMTJDNCAxMS40NDc3IDQuNDQ3NzIgMTEgNSAxMUgxOUMxOS41NTIzIDExIDIwIDExLjQ0NzcgMjAgMTJDMjAgMTIuNTUyMyAxOS41NTIzIDEzIDE5IDEzSDVDNC40NDc3MiAxMyA0IDEyLjU1MjMgNCAxMloiCiAgICAgICAgICBmaWxsPSIjMUMxQzIxIi8+CiAgICA8cGF0aCBkPSJNNSAxN0M0LjQ0NzcyIDE3IDQgMTcuNDQ3NyA0IDE4QzQgMTguNTUyMyA0LjQ0NzcyIDE5IDUgMTlIMTlDMTkuNTUyMyAxOSAyMCAxOC41NTIzIDIwIDE4QzIwIDE3LjQ0NzcgMTkuNTUyMyAxNyAxOSAxN0g1WiIKICAgICAgICAgIGZpbGw9IiMxQzFDMjEiLz4KPC9zdmc+Cg==');
		}

		&-close {
			@include background(cover, 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOC4zNjQgNy4wNTAyNUMxOC43NTQ1IDYuNjU5NzIgMTguNzU0NSA2LjAyNjU2IDE4LjM2NCA1LjYzNjAzQzE3Ljk3MzQgNS4yNDU1MSAxNy4zNDAzIDUuMjQ1NTEgMTYuOTQ5NyA1LjYzNjAzTDEyIDEwLjU4NThMNy4wNTAyNiA1LjYzNjA2QzYuNjU5NzQgNS4yNDU1NCA2LjAyNjU3IDUuMjQ1NTQgNS42MzYwNSA1LjYzNjA2QzUuMjQ1NTMgNi4wMjY1OSA1LjI0NTUzIDYuNjU5NzUgNS42MzYwNSA3LjA1MDI4TDEwLjU4NTggMTJMNS42MzYwMyAxNi45NDk3QzUuMjQ1NTEgMTcuMzQwMyA1LjI0NTUxIDE3Ljk3MzQgNS42MzYwMyAxOC4zNjRDNi4wMjY1NiAxOC43NTQ1IDYuNjU5NzIgMTguNzU0NSA3LjA1MDI1IDE4LjM2NEwxMiAxMy40MTQyTDE2Ljk0OTggMTguMzY0QzE3LjM0MDMgMTguNzU0NSAxNy45NzM0IDE4Ljc1NDUgMTguMzY0IDE4LjM2NEMxOC43NTQ1IDE3Ljk3MzUgMTguNzU0NSAxNy4zNDAzIDE4LjM2NCAxNi45NDk4TDEzLjQxNDIgMTJMMTguMzY0IDcuMDUwMjVaIgogICAgICAgICAgZmlsbD0iIzFDMUMyMSIvPgo8L3N2Zz4K');
		}
	}
}
