.not-found {
    height: 100vh;

    &_content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_img {
        @include media ('<lg') {
            max-width: 80%;
        }
    }
}