/*
@font-face {
    font-family: "ProbaPro";
    src: url("../../fonts/ProbaPro/ProbaPro-Medium.woff") format("woff");
    font-weight: 500;
    font-display: fallback;
    // font-display: swap;
}
*/
